.bg1, .bg2 {
	position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	box-sizing: border-box;
}

.bg-credits {
  position: absolute;
  bottom: 5px;
  right: 5px;
  color: #ccc;
  background: rgba(0,0,0,.5);
  font-size: 14px;
  opacity: 0.8;
}

.bg-credits a {
  color: inherit;
  text-decoration: none;
}

.off {
  opacity: 0;
}

.on {
	opacity: 1;
}